/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}


a, a:visited { 
    color: #4488FF
    /*text-decoration: none; */
}

a:hover, a:active { 
    text-decoration: underline; 
}


.bodyContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
   
}

.form{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 3vw 3vw 3vw;
    max-width:20vw;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
}

.formTitle{
    width: auto;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    margin-bottom: 35px;
    
}

.field{
    min-width: 20vw;
    height: 30px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    
}
.formButton{
    height: 25px;
    
}

.header{
    display: flex;
    background-color: pink;
    height: 10vh;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
}

.logoutButton{
   
}

