/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(./background.png);
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: dashed 1px #DDD;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}


a, a:visited { 
    color: #4488FF
    /*text-decoration: none; */
}

a:hover, a:active { 
    text-decoration: underline; 
}

/*.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 3vw 3vw 3vw;
    max-width:20vw;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
}*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: #24645c;
    border-radius: 10px;
  }

.bodyContainer{
    display: grid;
    background-color: #192329;
    grid-template-columns: 30% 70%;
    height: 600px;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
}


.leftContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 20px;
}
.connectedUsersTitle{
    display: flex;
    align-self: left;
    color:gainsboro;
    font-size: 1.3vw;
    margin-bottom: 10px;
}
.connectedUsersContainer{
    background-color: #212c32;
    border-radius: 5px;
    position: inherit;
    height: 550px;
    overflow: hidden;
    overflow-y: scroll ;
    
}

.listaUsuarios{
    list-style-type: none;
    padding: 25px;
    
}

.userCard{
    display: flex;
    height: 50px;
    border-bottom: 1px solid #24645c;
    align-items: center;
    font-size: 1.1vw;
    padding-left: 15px;
    color:gainsboro;
}


.messagesContainer{    
    display: flex;
    flex-direction: column;
    background-color: #192329;
    height: 100%;
    color:gainsboro;
}

.chatHeader{
    display: flex;
    justify-content: space-between;

}

.chatPanel{
    background-color: #212c32;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 20px;
    height: 100vh;
    max-height: 487px;
    overflow: hidden;
    overflow-y: scroll ;
    transform:rotateX(180deg);
                -moz-transform:rotateX(180deg); /* Mozilla */
                -webkit-transform:rotateX(180deg); /* Safari and Chrome */
                -ms-transform:rotateX(180deg); /* IE 9+ */
                -o-transform:rotateX(180deg); /* Opera */
    
}

.chat{
    transform:rotateX(180deg);
                -moz-transform:rotateX(180deg); /* Mozilla */
                -webkit-transform:rotateX(180deg); /* Safari and Chrome */
                -ms-transform:rotateX(180deg); /* IE 9+ */
                -o-transform:rotateX(180deg); /* Opera */
}

.messageItem{
    list-style: none;
   
}
.messageCardContainer{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.messageCard_UserInfo{
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color:#1cac94;
}
.messageCard_message{
    margin:0;
    padding-left: 40px;
    font-size: 1em;
    line-height: .9em;
    word-wrap: break-word;
}
.sendMensaje{
    display: flex;
    flex-direction: row; 
    height: 35px;
    width: 100%; 
}
.textBox{
    width: 90%;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
    font-size: 1.2em;
    padding: 0 20px 0 20px;
    background-color: #303c44;
    color: gainsboro;
}

.buttonSend{
    border: none;
    border-radius: 20px;
    width: 80px;
    background-color: #1cac94;
}




.formTitle{
    width: auto;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    margin-bottom: 35px;
  
}

.colorTitulo{
    color: black;
}


#sendButton{
    color: black;
}


.field{
    min-width: 20vw;
    height: 30px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    
}
.formButton{
    height: 25px;
    
}

.names{
    position: absolute;
    bottom: 0;
    left: 20px;
    margin: 0;
    color:gray
}

