site/ebin/*
*.sw?
erl_crash.dump
*~
/log
/scratch
lib/*
/bin
/erts-10.6.4
/erts-12.3.1
/etc
/lib
/man
/releases
/site/static/nitrogen
/BuildInfo.txt
/do-plugins.escript
/Makefile
/plugins.config
/README.md
/rebar
/rebar.config
/site/.rebar
/site/ebin